@charset "utf-8";
/* CSS Document */


/*** color pallette  **********************

#d70504 - bright red
#8c6d73 (140,109,115) - light purple
#4b86cb - blue
#dddbdc - grey - light
#080401 - black
*/

/**font for site**/
.carpetfont {
	font-family: 'Aref Ruqaa',serif;
}



/**list groups**/
.list-group, .list-group-flush {
	margin-right:0 !important;
}

.list-group-item {
	border:0 !important;
}

/*base styles for a tags*/

/*base styles for p tags*/

p {
	font-size:1.1em;
}

/*****jumbotron override**********/
.jumbotron {
	margin-bottom:0;
}

/*overrides for button text color*/
.btn-info {
	color:#ffffff !important;
}

/*styles for header*/

.header {
	background-image:url(media/Header/headerimage.jpg);
	background-size: 100% 100%;
	padding-bottom:80%;
}

.taglinerow {
	margin-left:0 !important;
	margin-top:-10%;
}

.tagline {
	font-size: 0.8em;
	padding-right:0 !important;
	margin-top:1rem;
	}

/**styles for footer map section**/

.mapcontainer {
	width:100%;
	margin-right:0;
	margin-left:0;
}

/**styles for angieslist picture**/
.angieslist {
	width:50%;
	
}

/**styles for the footer hours**/

.hours h3{
	padding-bottom:7%;
}


/*styles for footer*/

.footer-card {
		width:100%;
		
	}

.card {
	border:none;
	margin-bottom:5%;
}

.card-header, .card-footer {
	border:none;
	background-color:#ffffff;
}

.card-body img {
	border-radius:10px;
	
}

/*styles for nav*/

#nav{
	background-color:#ffffff; /* needs to be same color as navbar-nav BG color*/
	padding: 0px;
}

.navbar-brand{
	margin-right:0px;
}

.nav-item {
	padding-top:1% !important;
	padding-bottom:1% !important;
}

.collapse, nav {
	background-color:#ffffff;
}

.active{
	border-color: #dddbdc;
	vertical-align: middle;
	font-weight:bold !important;
	font-size:1.4em;
}

.dropdown-menu {
	border:none;
	text-align:center;
	}

/*styles for image overlay*/

.img-overlay {
    position: relative;
	color: blue;
	background-color:  rgba(0,0,0, 0.5);
	border-style: solid;
    border-color: gray;
	border-width: 1px;
	padding: 0;
	border-radius: 15px;	
}


/*quote page styles*/

form {
	text-shadow: 0px 1px 1px #000;
	box-shadow: 0 2px 8px -3px rgba(0, 0, 0, 0.2), 0 2px 20px -3px rgba(0, 0, 0, 0.19);
	border-radius: 15px;
	padding:5%;
	z-index: 2100;
}


.form-control:focus{
		border-color: #ffffff;  box-shadow: none; -webkit-box-shadow: none;
		border-width: 1px;
} 
		
.has-error .form-control:focus{
		box-shadow: none; -webkit-box-shadow: none;
}

input[type=text], input[type=email], select {
	margin-bottom: 13px;
    padding: 8px 10px;
    box-shadow: 3px 3px 3px  #aaa;
    border-radius: 10px;
}

/****about us page styles *****/

.aboutus {
	padding-left:0;
	padding-right:0;
}

.aboutus-textbox {
	padding-bottom:7%;
}

.aboutus .row {
	margin:0;
}

/**************************FAQ PAGE ***********************************/

.faqcontainer .lead {
	font-size:1.6em !important;
}

.faqcontainer p {
	font-size:1.4em !important;
}

/**************************LINK CONTAINER ***********************************/

.link-container {
	padding-top:7%;
	padding-bottom:7%;
}

.link-container .row{
	margin-right:0px;
	margin-left:0px;
	padding-top:8%;
	padding-bottom:10%;
}


.link-container .card-title {
	font-size:1.1em;
}
	
/********************GALLERY PAGE STYLES************************************/

	#gallerybuttons button{
		font-size:1.1em;
		background-color:#ffffff !important;
		color:#4b86d5 !important;
		border:none !important;
		transition-property: none !important;
		margin-top:3%;
	}

	#gallerybuttons .row {
		margin:0 !important;
	}


/*********** mobile specific stylesheet ******

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

   **/
   
/* Small devices (landscape phones, 576px and up)*/

	@media screen and (min-width: 576px){
		.header {
			background-attachment:scroll;
			padding-bottom:60%;
		}

		.taglinerow {
			margin-top:-5%;
		}

		.tagline {
			font-size:0.9em;
		}
		
		#gallerybuttons button{
			font-size:1.3em;
		}

		.mapcontainer {
			max-height:500px;
			}
}

	@media screen and (min-width: 768px) /* Desktop */ {
		.header {
			background-attachment:scroll;
			padding-bottom:50%;
		}

		.taglinerow {
			margin-top:-3%;
		}

		.tagline {
			font-size:0.9em;
			
		}
		
		.link-container .card-title {
			font-size:1.8em;
		}
		
		#gallerybuttons button{
			font-size:1.4em;
		}	

		.mapcontainer {
			max-height:500px;
			}
}

	@media screen  and (min-width: 992px) /* Tablet */ {
		
	.header {
		background-attachment:fixed;
		padding-bottom:55%;
	}

	.tagline {
		font-size:1.0em;
		
	}
	
	.jumbotron {
		background-size:90%;
		background-repeat:no-repeat;
		background-position:center;
	}
	
	#gallerybuttons button{
		font-size:1.6em;
	}

	.mapcontainer {
		max-height:700px;
		}

	.mapcontainer .embed-responsive-item {
		max-width:100%;
	}
	
}

	@media screen and (min-width: 1200px) {
	.header {
		background-attachment:fixed;
		padding-bottom:33%;
	}

	.tagline {
		font-size:1.1em;
		
	}
	
	#gallerybuttons button{
		font-size:1.9em;
	}

	.mapcontainer {
		max-height:700px;
		}
	
	.mapcontainer .embed-responsive-item{
		max-width:100%;
	}
}


  