@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
	max-width:100%;
}



/*** color pallette  **********************

##d8d8c4 - tan
#080401 - black
#4b86d5
*/

.background-blue {
	background-color:#4b86d5;
}

.background-blue-light {
	background-color:#c9daf2;
}

.background-tan {
	background-color:rgba(216,216,196,0.7);
}

.background-tan-lite {
	background-color:rgba(216,216,196,0.1);
}

.text-tan {
	color:rgba(216,216,196,0.7);
}

.text-white {
	color:#ffffff;
}

.font-black {
	color:#080401;
}

/***************************** CONTAINER STYLES **********************************/

.container {
	max-width:100%;
}

.padded-container {
	padding:6%;
}

/**************************** HEADING TAG STYLES *********************************/

h1, h2, h3, h4 {
	font-family: 'Aref Ruqaa',serif;
	font-weight:900;
}

h5, h6 {
	color:#b8b894;
	font-family: 'Aref Ruqaa',serif;
}



/*************************** GALLERY PAGE STYLES *********************************/

#gallerybuttons {
	margin-left:auto;
	margin-right:auto;
	padding-top:4%;
	padding-bottom:4%;
}

#gallerybuttons button {
	
}

.gallerycontainer {
	margin-left:0;
	margin-right:0;
	margin-top:5%;
    margin-bottom:5%;
}

.opaque {
	opacity:1;
}

.clear {
	opacity:0;
}

.img-thumbnail {
	border:none;
}

/*************************** TEXT TAG STYLES *************************************/
p, a, label, input, li {
	font-family: 'Taviraj', serif;
}

/***************************** LINK STYLES ************************************/
.dropdown a {
	text-decoration:none;
	color:#4b86cb !important;
	font-weight:500;
}

a:hover {
	text-decoration:none;
	color:#4b86fb;
}

/***************************** BUTTON STYLES *********************************/

.btn-info {
	background-color:#4b86cb;
	border-color:#4b86cb;
}

.btn-info:hover {
	border-color:#4b86cb;
	background-color:#4b86fb;
}

.btn-outline-primary {
	border-color:#4b86cb;
}

/***************************** HEADER STYLES ******************************/

.jumbotron img {
	max-width:23%;
	margin-left:2%;
	margin-top:2%;
}

.jumbotron {
	padding-top:0;
	
}

.jumbotron .container {
}

/***************************** FOOTER STYLES *******************************/

footer {
	width:80%;
	margin:0 !important;
	padding:0 !important;
}


footer .card {
	border-top:1px solid #cccccc;
	border-radius:0px;
	margin-bottom:0;
}

footer .list-group-item {
	border:none;
	margin-bottom:3%;
	padding:0;
}

footer .list-group {
	margin-bottom:8%;
	margin-top:6%;
	list-style-type:none;
}

footer p {
	font-size:0.9em;
	margin-bottom:1%;
}

.social-foot{
	font-size: 2.5em;
}

.social-foot a {
	color:#ffffff;
}

.fa{
	text-decoration: none;
}

footer .row {
	margin:0;
}

/****************************** CARD STYLES ********************************/

.card{
	border:none;
	margin-bottom:5%;
}

.card-header, .card-footer {
	border:none;
}

.card-body img {
	border-radius:10px;
}

.img-overlay a {
	position:relative;
}

.card-img-overlay, .card-body, .container-fluid {
	padding:0;
}


/**************************** NAVIGATION STYLES ***************************/

.navbar-nav {
	text-align: center;
	background-color:#ffffff;
}

.dropdown a {
	padding:0;
}


/**************************** CONTACT US FORM *****************************/

form {
	text-shadow: 0px 1px 1px #000;
	box-shadow: 0 2px 8px -3px rgba(0, 0, 0, 0.2), 0 2px 20px -3px rgba(0, 0, 0, 0.19);
	border-radius: 15px;
	padding:5%;
	display: inline-block;
	z-index: 2100;
}


.form-control:focus{
	border-color: #ffffff;  box-shadow: none; -webkit-box-shadow: none;
	border-width: 1px;
} 
	
.has-error .form-control:focus{
	box-shadow: none; -webkit-box-shadow: none;
}

input[type=text], input[type=email], select {
    padding: 8px 10px;
    box-shadow: 3px 3px 3px  #aaa;
    border-radius: 10px;
}

.form-check-input {
	margin-left:13%;
}

.form-check-label {
	margin-left:21%;
}

/************************* ANIMATION DELAYS **********************************/

.delay-1 {
	animation-delay:.25s;
}

.delay-2 {
	animation-delay:.5s;
}

.delay-3 {
	animation-delay:.75s;
}

.delay-4 {
	animation-delay:1s;
}

.delay-5 {
	animation-delay:1.25s;
}

.delay-6 {
	animation-delay:1.5s;
}

.delay-7 {
	animation-delay:1.75s;
}

.delay-8 {
	animation-delay:2s;
}

/* Small devices (landscape phones, 576px and up)*/
	@media screen and (min-width: 576px) { 

	
	
	.jumbotron {
		
	}
	
	.footer-card .list-group {
		width:100%;
	}
	
		
	.card-header h3 {
		font-size:1.2em;
	}
}

/* Medium devices (tablets, 768px and up)*/
	@media screen and (min-width: 768px) { 
	
	.jumbotron {
		
		
	}

	.navbar-collapse li {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	
    .card {
		width:45%;
		display:inline-block;
	}
	
	footer .card {
		width:100%;
		padding-top:0%;
		
	}
	
	.footer-card .list-group {
		width:100%;
	}
	
	.list-group-item {
		border:none;
	}
}

/* Large devices (desktops, 992px and up)*/
	@media screen and (min-width: 992px) { 
	
	
	.jumbotron {
		
	}

	.navbar-collapse li {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	
	footer .card {
		width:50%;
		display:inline-block;
		padding:0;
	}
	
	footer .row {
		
	}
	
	.footer-card .list-group {
		width:100%;
	}
	
	.footer-card .list-group-item {
		border:none;
		
	}

	#gallerybuttons button {
			
	}

	.gallerycontainer {
		margin-top:5%;
		margin-bottom:5%;
	}

	

}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) { 
	
	nav a {
		
		font-size:1.1em;
	}
	
	.page-content {
		
		width:100%;
		
	}
	
	.card {
		width:45%;
		display:inline-block;
	}
	
	.card-header h3 {
		font-size:2.6em;
	}
	
	footer h6 {
		font-size:1.6em;
	}
	
	footer h3 {
		font-size:2.4em;
	}
	
	footer p {
		font-size:1.0em;
	}
	
	footer .card {
		padding-top:0%;
	}
	
	footer, footer ul, footer .card {
		max-height:150px;
	}
	
}






